* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f7f6;
    color: #333;
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  position: relative;
}

.logo {
  font-weight: bold;
  font-size: 20px;
  display: flex;
  align-items: center;
}

.logo-icon {
  width: 30px;
  height: 30px;
  background-color: green;
  border-radius: 50%;
  margin-right: 8px;
}

.nav-links {
    display: flex;
    gap: 20px;

    a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
  }
}

        

     

.user-actions {
  font-size: 20px;
  cursor: pointer;
}

.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;

  span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #333;
    border-radius: 2px;
  }
}

@media (max-width: 768px) {
  .nav-links {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    background-color: white;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 15px 0;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    display: none;
  }

  .nav-links.active {
    display: flex;
  }

  .hamburger {
    display: flex;
  }
}